p {
  color: aqua;
  font-size: 20px;
}
h1 {
  color: chartreuse;
  font-size: 60px;
}
.img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border-style: dotted;
}
.first {
  background-color: green;
}
.second {
  background-color: pink;
}
